@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #000000;
}
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins';

}
.nav{
    display: flex;
    position:sticky;
    position:-webkit-sticky;
    top:0;
    background-color: #000000;
}
.logo{
    display: flex;
    flex-direction:row;
    width:80%;
}
.logo p{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
}
.logo img{
    height: 50px;
    width: 50px;
}
.search input{
    height: 30px;
    width: 200px;
    margin: 5px;
    background-color: rgb(27, 27, 27);
    border-color: transparent;
    border-radius: 10px;
}
.search button{
    height: 30px;
    font-size: 20px;
    border: none;
    margin: 10px 0;
    background-color: transparent;
    cursor: pointer;
}
.container{
    display: grid;
    grid-template-columns: 1fr 9fr;
}
.container .background {
    background-image: url(spotify_back.jpg);
    background-size: 100%;
    max-height: 100vh;
    filter:opacity(50%)
}
.best{
    filter: opacity(100%);
}
.container1{
    width:100px;
    height: 30px;
    position:sticky;
    background-color: rgb(27, 27, 27,0.8);
    border-radius: 10px;
    margin-left: 2px;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    text-align: center;  
}
span{
    padding-left: 10px;
}
img{
    height:50px;
    display: block;
}
.container2{
    position:sticky;
    position:-webkit-sticky;
    top: 200px;
    background-color: #000000;
    width: 100px;
    height: 70vh;
    margin-left: 2px;
    margin-top: 5px;
    padding: 10px 10px;  
    border-radius: 10px;
    background-color: rgb(27, 27, 27,0.8);
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.container2::-webkit-scrollbar{
    width:5px;
    background-color: #272626;
    border-radius: 5px;
}
.container2 img{
    padding: 0 15px;
    width: 70px;
    height: 70px;
    border-radius: 7px;
    margin-top: 10px;
}
.container2 span{
    padding:0;
    font-size: 12px;
}
.container2 p{
    font-size: 12px;
    text-align: left;
}
.container2 h3{
    margin-top: 5px;
}
.container2::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 3px;
    background:#32ea4b;
    top:4px;
    left:0px;
}
#best .box1{
    top: 60%;
    left: 30%;
    background-color: #000000;
    width: 400px;
    height: 350px;
    border-radius: 12px;
    padding: 10px;
}
#best h1, .box1{
    position: absolute;
    font-size: 40px;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 3px #212121;
}
.box1 ul li{
    display: flex;
    list-style-type:none;
    font-size: 14px;
    padding: 10px;
}
.box1 ul li p{
    display: grid;
    grid-template-columns: 100px 100px;
    padding: 15px;
    cursor: pointer;
}
.box1 ul li span{
    padding-left: 180px;
}
.box1 ul li img{
    border-radius: 50%;
}
